<footer class="text-muted text-center p-4">
    <div class="container">
        Built with
        <a href="https://blazor.net/" target="_blank">Blazor WebAssembly</a>
        -
        <a href="https://www.newtonsoft.com/json" target="_blank" 1>Newtonsoft Json.NET</a>
        -
        <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
        -
        <a href="https://www.newtonsoft.com/json" target="_blank" 1>Newtonsoft Json.NET </a>
        and more!
    </div>
</footer>

@code {

}
