<div class="stats-card">
    <div class="num">@Num</div>
    <div class="num-label text-monospace">@Label</div>
</div>

@code {
    [Parameter]
    public int Num { get; set; }
    [Parameter]
    public string Label { get; set; }

}
