<section class="container py-5">
    <div class="d-flex align-items-center mb-4">
        <h2>Top Repos</h2>
        <span class="mx-3 text-muted">by</span>
        <div class="dropdown">
            <button class="btn btn-primary">
                Dropdown
            </button>
        </div>
    </div>
    <div class="row">
        @for (int i = 0; i < LIMIT; i++)
        {
            <RepoCard Name="@ReposData[i].name"
                Description="@ReposData[i].description"
                Language="@ReposData[i].language" StargazersCount=@ReposData[i].stargazers_count Forks=@ReposData[i].forks_count Size=@ReposData[i].size />
        }
    </div>
</section>

@code {
    [Parameter]
    public List<GithubRepo> ReposData { get; set; }
    public int LIMIT = 8;

}
