@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    background-color: rgb(243, 245, 247);
}


#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/* Custom Styles */

@media (min-width: 1430px) {
    .container {
      max-width: 1400px;
    }
}

.bg-git-dark {
    background-color: rgb(26, 30, 34);
}

.text-light-blue {
    color:rgb(200, 225, 255);
}

.p-section {
    padding: 6rem 1rem 10rem;
}

.stats-deck {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 150px));
    gap: 0.5rem;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 2rem;
}

.stats-card {
    padding: 0.8rem 0.5rem;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:  rgb(36, 41, 46);
    border-radius: 0.25rem;
    text-align: center;
}

.stats-card .num {
    color: rgb(246, 248, 250);
}

.stats-card .num-label {
    font-size: 0.65rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 0.5rem;
    color: rgba(200, 225, 255, 0.7);
}

.user-input {
    background-color: rgb(38, 48, 60);
    outline: 0px;
    border: 0px;
    border-radius: 0.25rem;
    width: 100%;
    max-width: 500px;
    margin: 0px auto;
    padding: 1rem;
    color: rgb(121, 184, 255);
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

@media (min-width: 600px) {
    .p-section {
        padding: 3rem 2rem 10rem;
    }

    .info {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }

    .stats-card {
        padding: 1rem;
    }

    .stats-card .num {
        font-size: 1.5rem;

    }

    .stats-card .num-label {
        font-size: 0.80rem;
    }
}